out
dist
node_modules
.vscode-test/
*.vsix
*.DS_Store
.env

# Ignore all sessions including from testing
**/.task/sessions

# Ignore all videos - they are too big
**/*.m4v
**/*.mov
**/*.mkv
**/*.wfp

# Ignore more personal notes for other people's privacy
**/**private**/*
**/**private*
