out
dist
node_modules
.vscode-test/
*.vsix
*.DS_Store
.env

# Ignore profiling
**/*profile

# Ignore all sessions including from testing
**/.task/sessions

# Ignore all videos - they are too big
**/*.m4v
**/*.mov
**/*.mkv
**/*.wfp

# Ignore more personal notes for other people's privacy
**/**private**/*
**/**private*

# Ignored directory with super long file names - prevents people from running those on windows
# [Proper fix]  use some gpt base script to make file names shorter
prompt-engineering/worthy-responses/
configurations/.eslintrc.js
