# This file gets used during packaging to exclude unnecessary files from the extension bundle
.vscode/
.vscode-test/

out/
node_modules/
src/
.gitignore
tsconfig.json
configurations/

# Project specific folders
.task/
documents/
example-projects/
prompt-engineering/
scripts/

# Include assets (referenced in walkthroughs)
!documents/assets/walkthrough-notebook.jpg
# Include tutorial project, it has also used part of the walkthroughs
!example-projects/walkthrough-error-apollo
